html {
  /*background-color: #212223;*/
  font-family: 'PF DinText Pro', sans-serif;
  color: #9f9191;
}

body {
  max-width: 750px;
  margin: 40px auto;
  line-height: 1.6;
  font-size: 14px;
  padding: 0 10px;
}

a {
  text-decoration: none;
  color: #444;
}

h1,h2,h3 {
  font-family: 'GothamMedium', sans-serif;
  line-height: 1.2;
}

header {
  text-align: center;
  padding: 0 90px;
}

footer {
  height: 60px;
  line-height: 60px;
  width: 100%;
  text-align: center;
}

::selection {
  background: #9f9191;
}

@font-face {
  font-family: 'PF DinText Pro';
  src: url(lib/fonts/PFDinDisplayPro-Reg.ttf);
}
@font-face {
  font-family: 'GothamMedium';
  src: url(lib/fonts/GothamMedium.otf);
}
